body {
    margin: 0
}

a {
    background-color: transparent
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

button,
input,
select {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button {
    -webkit-appearance: button
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://cdnvn.truyentranhonline.vn/lib/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('https://cdnvn.truyentranhonline.vn/lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://cdnvn.truyentranhonline.vn/lib/bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('https://cdnvn.truyentranhonline.vn/lib/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://cdnvn.truyentranhonline.vn/lib/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://cdnvn.truyentranhonline.vn/lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-search:before {
    content: "\e003"
}

.glyphicon-list:before {
    content: "\e056"
}

.glyphicon-chevron-right:before {
    content: "\e080"
}

.glyphicon-fire:before {
    content: "\e104"
}

.glyphicon-menu-right:before {
    content: "\e258"
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

input,
button,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #428bca;
    text-decoration: none
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

h1,
h2,
h3,
h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

.text-center {
    text-align: center
}

.text-info {
    color: #31708f
}

ul {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul {
    margin-bottom: 0
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}